<div class="footer">

    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <mat-grid-tile-header>
            </mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-grid-tile-header>
                <h4>Dirección</h4>
            </mat-grid-tile-header>
         
            <address class="ancho_100">
                <p>Calle nueva <br> Burjassot, Valencia<br> España<br> </p>
                <i><fa-icon [icon]="faPhone"></fa-icon></i>: +34 655 555 555<br>
                <i><fa-icon [icon]="faFax"></fa-icon></i>: +34 655 555 555<br>
                <i><fa-icon [icon]="faEnvelope"></fa-icon></i>:
                <a href="mailto:mitienda@moviles.net">micompañia&#64;gmail.com</a>
            </address>
        </mat-grid-tile>

    </mat-grid-list>




        <div>
            <div>

                <div class="centrado">
                    <p>© Copyright 2024 CookingDad </p>
                </div>
            </div>
        </div>
    </div>
