
$background-pale: #CEFDFF;
$background-moredark: #403b4b; 

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{
    background-color: $background-moredark;
    @include zero-margin(0px, 0px);
    color: white !important;
}  

.btn-facebook {color:#fff!important; background-color:#3b5998!important;}
.btn-google-plus{color:#fff!important;background-color:#dd4b39!important;}
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin{color:#fff!important;background-color:#007bb6!important;}
.btn-twitter{color:#fff!important;background-color:#55acee!important;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;}


.ancho_100 {
    width: 100%;
}

.centrado {
    text-align:center;
}

.activo {
    background: #403b4b;
    color: white !important;
}


